body {
    margin: 0 2em;
}

code {
    font-size: 0.9em;
    background-color: #EDEDED;
    padding: 0 0.2em;
}

#remote-library-implementations {
    width: 100%;
}

#remote-library-implementations > tbody {
    align: center
}