tmp
build
dist
*~
MANIFEST
atest/results
utest/jasmine-results
*~
.idea
.vscode
.*project
*.pyc
*$py.class
ext-lib
*.iml
.DS_Store
doc/api/_build
doc/libraries/*.html
doc/userguide/RobotFrameworkUserGuide.html
src/robotframework.egg-info
log.html
output.xml
report.html
