include src/bin/*bot src/bin/*.bat
include src/robot/htmldata/*/*.html src/robot/htmldata/*/*.js src/robot/htmldata/*/*.css
include AUTHORS.txt BUILD.rst CONTRIBUTING.rst COPYRIGHT.txt INSTALL.rst LICENSE.txt README.rst MANIFEST.in tasks.py
prune src/robot/htmldata/testdata
