include src/bin/?ybot src/bin/rebot src/bin/*.bat 
include robot_postinstall.py
include robot.bmp
include install.py package.py
include MANIFEST.in
include LICENSE.txt COPYRIGHT.txt INSTALL.txt PACKAGING.txt

recursive-include tools *.py *.au3 *.rb *.html *.txt *.tsv *.png
prune tools/*/test
recursive-include doc *.txt *.rst *.html *.png *.py *.dia
include templates/*.html templates/*.tsv templates/*.txt

