# Requirements needed for development and for building releases.
# See BUILD.rst for details about the latter
invoke >= 0.20
rellu >= 0.7
twine >= 1.12
wheel
docutils
pygments >= 2.8
sphinx
pydantic < 2
