body {
    background: white !important;
    padding: 0px;
    font-size: 8pt;
}
a:link, a:visited {
    color: black;
}
.header, table.details, table.statistics {
    width: 100%;
}
#generated_ago, #report_or_log_link, #normal_selector, .expand {
    display: none;
}
#print_selector {
    display: table-cell;
}
table#test_details thead tr .header {
    background-image: none;
    background: #DCDCF0 !important;
}
