<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<link rel="stylesheet" type="text/css" href="common.css" media="all"/>
<link rel="stylesheet" type="text/css" href="report.css" media="all"/>
<link rel="stylesheet" type="text/css" href="print.css" media="print"/>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery.tmpl.min.js"></script>
<!-- OUTPUT JS --><script type="text/javascript" src="testdata/data.js"></script>
<script type="text/javascript" src="lib/jsxcompressor.js"></script>
<script type="text/javascript" src="model.js"></script>
<script type="text/javascript" src="util.js"></script>
<script type="text/javascript" src="testdata.js"></script>
<script type="text/javascript" src="view.js"></script>
<title></title>
</head>
<body>
<div id="javascript_disabled">
  <h1>Opening Robot Framework report failed</h1>
  <ul>
    <li>Verify that you have <b>JavaScript enabled</b> in your browser.</li>
    <li>Make sure you are using a <b>modern enough browser</b>. Firefox 3.5, IE 8, or equivalent is required, newer browsers are recommended.</li>
    <li>Check are there messages in your browser's <b>JavaScript error log</b>. Report the problem if you believe you have encountered a bug.</li>
  </ul>
</div>
<div class="header" id="header_div"></div>
<div id="statistics_container"></div>
<div id="test_details_container"></div>

<script type="text/javascript">
removeJavaScriptDisabledWarning();
$(document).ready(function () {
    window.prevLocationHash = '';
    var topsuite = window.testdata.suite();
    setBackground(topsuite);
    initLayout(topsuite.name, 'Report');
    addSummary(topsuite);
    addStatistics();
    addDetails();
    window.onhashchange = showDetailsByHash;
});

function setBackground(topsuite) {
    if (topsuite.criticalFailed)
        $("body").css("background-color", window.settings.background.fail);
    else if (topsuite.totalFailed)
        $("body").css("background-color", window.settings.background.nonCriticalFail);
    else
        $("body").css("background-color", window.settings.background.pass);
}

function addSummary(topsuite) {
    var opts = {logURL: window.settings.logURL};
    $.tmpl('summaryTableTemplate', topsuite, opts).insertAfter($('#header_div'));
}

function addDetails() {
    if (window.location.hash) {
        showDetailsByHash();
    } else {
        renderTotalSelector();
    }
}

function showDetailsByHash() {
    if (window.location.hash == window.prevLocationHash) return;
    window.prevLocationHash = window.location.hash;
    var hashParts = decodeURI(window.location.hash.substring(1)).split('_');
    var key = hashParts.shift();
    var arg = hashParts.join('_');
    var action = {
        'total': totalDetailSelected,
        'tag': tagDetailSelected,
        'suite': suiteDetailSelected,
        'totals': renderTotalSelector,
        'tags': renderTagSelector,
        'suites': renderSuiteSelector
    }[key];
    if (action) {
        action(arg);
    }
    window.location.hash = window.location.hash.substring(1);
}

function totalDetailSelected(type) {
    if (!type) return;
    renderTotalSelector('total_' + type);
    renderTotalDetails(type);
    ensureTotalDetailsAreVisible(type);
}

function renderTotalDetails(type) {
    var stat;
    if (type == 'Critical Tests')
        stat = window.testdata.statistics().total[0];
    else
        stat = window.testdata.statistics().total[1];
    var tests = getTotalTests(type)
    stat.totalTime = calculateTotalTime(tests);
    $.tmpl('tagOrTotalDetailsTemplate', stat).appendTo('#details_header');
    drawTestDetailsTable(tests);
}

function renderTotalSelector(linkTarget) {
    var args = {linkTarget: linkTarget, totals_tab_status: 'tab_selected'};
    renderSelector(args, 'totalDetailsSelectorTemplate');
}

function ensureTotalDetailsAreVisible(type) {
    document.getElementById('radio_'+type).checked = true;
    $('#print_selector').text(type);
    scrollToSelector('total_'+type);
}

function scrollToSelector(anchor) {
    $('#test_details_container').css('min-height', $(window).height());
    window.location.hash = anchor;
}

function tagDetailSelected(name) {
    if (!name) return;
    renderTagSelector('tag_' + name);
    var tag = util.filter(window.testdata.statistics().tag, function (tag) {
        return tag.label == name;
    })[0];
    renderTagDetails(tag);
    ensureTagDetailsAreVisible(name);
}

function renderTagDetails(tag) {
    var tests = getTestsHavingTag(tag);
    if (tag) {
        tag.totalTime = calculateTotalTime(tests);
    }
    $.tmpl('tagOrTotalDetailsTemplate', tag).appendTo('#details_header');
    drawTestDetailsTable(tests);
}

function renderTagSelector(linkTarget) {
    var args = {linkTarget: linkTarget, tags_tab_status: 'tab_selected'};
    var tagstats = {tags: window.testdata.statistics().tag};
    renderSelector(args, 'tagDetailsSelectorTemplate', tagstats);
}

function ensureTagDetailsAreVisible(name) {
    document.getElementById('tag_detail_selector').value = name;
    $('#print_selector').text(name);
    scrollToSelector('tag_'+name);
}

function suiteDetailSelected(name) {
    if (!name) return;
    renderSuiteSelector('suite_' + name);
    renderSuiteDetails(name);
    ensureSuiteDetailsAreVisible(name);
}

function ensureSuiteDetailsAreVisible(name) {
    document.getElementById('suite_detail_selector').value = name;
    $('#print_selector').text(name);
    scrollToSelector('suite_'+name);
}

function renderSuiteDetails(name) {
    var suite = testdata.suite().findSuiteByName(name);
    var opts = {logURL: window.settings.logURL};
    $.tmpl('suiteDetailsTemplate', suite, opts).appendTo('#details_header');
    drawTestDetailsTable(suite.allTests());
}

function renderSuiteSelector(linkTarget) {
    var args = {linkTarget: linkTarget, suites_tab_status: 'tab_selected'};
    var stats = {suites: window.testdata.statistics().suite};
    renderSelector(args, 'suiteDetailsSelectorTemplate', stats);
}

function renderSelector(args, template, stats) {
    emptyDetails();
    $.tmpl('detailsHeaderTemplate', args).appendTo('#test_details_container');
    $.tmpl(template, stats).appendTo('#test_details_container');
}

function emptyDetails(){
    window.elementsToRender = [];
    $('#test_details_container').empty();
}

function drawTestDetailsTable(tests) {
    $.tmpl('testDetailsTableTemplate').appendTo('#test_details_container');
    window.elementsToRender = tests;
    renderTestDetails();
}

function sortByStatus(t1, t2) {
    if (t1.status != t2.status)
        return t1.status == 'FAIL' ? -1 : 1;
    if (t1.isCritical != t2.isCritical)
        return t1.isCritical ? -1 : 1;
    return t1.fullName < t2.fullName ? -1 : 1;
}

function getTestsHavingTag(tag) {
    if (!tag)
        return [];
    return window.testdata.suite().searchTestsByTag(tag).sort(sortByStatus);
}

function getTotalTests(type) {
    if (type == 'Critical Tests')
        return window.testdata.suite().criticalTests().sort(sortByStatus);
    return window.testdata.suite().allTests().sort(sortByStatus);
}

function calculateTotalTime(tests) {
    var totaltime = 0;
    $.map(tests, function (test) {
        totaltime += test.times.elapsedMillis;
    });
    return model.formatElapsed(totaltime);
}

function renderTestDetails(){
    if (window.elementsToRender.length == 0) {
        return;
    }
    var elements = popUpTo(window.elementsToRender, 10);
    $.tmpl('testDetailsTableRowTemplate',
            elements,
            {logURL: window.settings.logURL}
    ).appendTo('#test_details');
    if (window.elementsToRender.length > 0)
        setTimeout(renderTestDetails, 0);
}

function popUpTo(list, upTo) {
    var result = [];
    while (list.length > 0 && result.length < upTo)
        result.push(list.shift());
    return result;
}
</script>

<script type="text/x-jquery-tmpl" id="summaryTableTemplate">
  <h2>Summary Information</h2>
  <table class="details">
    <tr>
      <th>Status:</th>
      {{if criticalFailed}}
      <td><a class="summary_fail" href="#total_Critical Tests" onclick="totalDetailSelected('Critical Tests')">${criticalFailed} critical test{{if criticalFailed != 1}}s{{/if}} failed</a></td>
      {{else}}
      <td><a class="summary_pass" href="#total_Critical Tests" onclick="totalDetailSelected('Critical Tests')">All critical tests passed</a></td>
      {{/if}}
    </tr>
    {{if doc()}}
    <tr>
      <th>Documentation:</th>
      <td>{{html doc()}}</td>
    </tr>
    {{/if}}
    {{each metadata}}
    <tr>
      <th>${$value[0]}:</th>
      <td>{{html $value[1]}}</td>
    </tr>
    {{/each}}
    {{if times.startTime != 'N/A'}}
    <tr>
      <th>Start Time:</th>
      <td>${times.startTime}</td>
    </tr>
    {{/if}}
    {{if times.endTime != 'N/A'}}
    <tr>
      <th>End Time:</th>
      <td>${times.endTime}</td>
    </tr>
    {{/if}}
    <tr>
      <th>Elapsed Time:</th>
      <td>${times.elapsedTime}</td>
    </tr>
    {{if $item.logURL}}
    <tr>
      <th>Log File:</th>
      <td><a href="${$item.logURL}">${$item.logURL}</a></td>
    </tr>
    {{/if}}
  </table>
</script>

<script type="text/x-jquery-tmpl" id="totalStatisticsRowTemplate">
  <tr>
    <td class="col_stat_name">
      <div class="stat_name">
        <a href="#total_${label}" onclick="totalDetailSelected('${label}')">${label}</a>
      </div>
    </td>
    {{tmpl($data) 'stat_columns'}}
  </tr>
</script>

<script type="text/x-jquery-tmpl" id="tagStatisticsRowTemplate">
  <tr>
    <td class="col_stat_name">
      <div class="stat_name">
        <a href="#tag_${label}" onclick="tagDetailSelected('${label}');" title="${doc}">${label}</a>
        {{if info}}(${info}){{/if}}
      </div>
      <div class="tag_links">
        {{each links}}
        <span>[<a href="${$value.url}" title="${$value.url}">${$value.title}</a>]</span>
        {{/each}}
      </div>
    </td>
    {{tmpl($data) 'stat_columns'}}
  </tr>
</script>

<script type="text/x-jquery-tmpl" id="suiteStatisticsRowTemplate">
  <tr>
    <td class="col_stat_name">
      <div class="stat_name">
        <a href="#suite_${label}" onclick="suiteDetailSelected('${label}');" title="${label}"><span class="parent_name">${formatParentName}</span>${name}</a>
      </div>
    </td>
    {{tmpl($data) 'stat_columns'}}
  </tr>
</script>

<script type="text/x-jquery-tmpl" id="detailsHeaderTemplate">
  <h2 id="${linkTarget}">Test Details</h2>
  <ul id="detail_tabs">
    <li class="${totals_tab_status}">
      <a href="#totals" onclick="renderTotalSelector();">Totals</a>
    </li>
    <li class="${tags_tab_status}">
      <a href="#tags" onclick="renderTagSelector();">Tags</a>
    </li>
    <li class="${suites_tab_status}">
      <a href="#suites" onclick="renderSuiteSelector();">Suites</a>
    </li>
  </ul>
</script>

<script  type="text/x-jquery-tmpl" id="totalDetailsSelectorTemplate">
  <table class="details" id="details_header">
    <tr id="selector">
      <th>Type:</th>
      <td id="normal_selector">
        <input id="radio_Critical Tests" type="radio" name="totals_radio"
               onclick="totalDetailSelected('Critical Tests');">
        <label for="radio_Critical Tests">Critical Tests</label><br>
        <input id="radio_All Tests" type="radio" name="totals_radio"
               onclick="totalDetailSelected('All Tests');">
        <label for="radio_All Tests">All Tests</label>
      </td>
      <td id="print_selector"></td>
    </tr>
  </table>
</script>

<script  type="text/x-jquery-tmpl" id="tagDetailsSelectorTemplate">
  <table class="details" id="details_header">
    <tr id="selector">
      <th>Name:</th>
      <td id="normal_selector">
        <select id="tag_detail_selector"
                onchange="tagDetailSelected(this.options[this.selectedIndex].value);">
          <option value="">Select tag...</option>
          {{each tags}}
          <option value="${$value.label}">${$value.label} ${$value.shownInfo}</option>
          {{/each}}
        </select>
      </td>
      <td id="print_selector"></td>
    </tr>
  </table>
</script>

<script  type="text/x-jquery-tmpl" id="suiteDetailsSelectorTemplate">
  <table class="details" id="details_header">
    <tr id="selector">
      <th>Name:</th>
      <td id="normal_selector">
        <select id="suite_detail_selector"
                onchange="suiteDetailSelected(this.options[this.selectedIndex].value);">
          <option value="">Select suite...</option>
          {{each suites}}
          <option value="${$value.label}">${$value.label}</option>
          {{/each}}
        </select>
      </td>
      <td id="print_selector"></td>
    </tr>
  </table>
</script>

<script type="text/x-jquery-tmpl" id="tagOrTotalDetailsTemplate">
  {{if doc}}
  <tr>
    <th>Documentation:</th>
    <td>{{html doc}}</td>
  </tr>
  {{/if}}
  {{if combined}}
  <tr>
    <th>Pattern:</th>
    <td>${combined}</td>
  </tr>
  {{/if}}
  {{if links}}{{if links.length}}
  <tr>
    <th>Links:</th>
    <td>{{each links}}<a href="${$value.url}" title="${$value.url}">${$value.title}</a>{{/each}} </td>
  </tr>
  {{/if}}{{/if}}
  <tr>
    <th>Status:</th>
    <td>${total} total, ${pass} passed, {{if fail}}<span class="fail">${fail} failed</span>{{else}}<span class="pass">0 failed</span>{{/if}}</td>
  </tr>
  <tr>
    <th>Total Time:</th>
    <td>${totalTime}</td>
  </tr>
</script>

<script type="text/x-jquery-tmpl" id="suiteDetailsTemplate">
  {{if $item.logURL}}
  <tr>
    <th>Log Link:</th>
    <td><a href="${$item.logURL}#suite_${fullName}" title="${fullName}">${$item.logURL}#suite_${fullName} </a></td>
  </tr>
  {{/if}}
  {{if doc()}}
  <tr>
    <th>Documentation:</th>
    <td>{{html doc()}}</td>
  </tr>
  {{/if}}
  {{each metadata}}
  <tr>
    <th>${$value[0]}:</th>
    <td>{{html $value[1]}}</td>
  </tr>
  {{/each}}
  <tr>
    <th>Status:</th>
    <td>{{tmpl($data) 'suiteStatusMessageTemplate'}}</td>
  </tr>
  {{if message()}}
  <tr>
    <th>Message:</th>
    <td>${message()}</td>
  </tr>
  {{/if}}
  <tr>
    <th>Start / End:</th>
    <td>${times.startTime}  /  ${times.endTime}</td>
  </tr>
  <tr>
    <th>Elapsed:</th>
    <td>${times.elapsedTime}</td>
  </tr>
</script>

<script type="text/x-jquery-tmpl" id="testDetailsTableTemplate">
  <table id="test_details">
    <tr>
      <th class="col_name">Name</th>
      <th class="col_doc">Documentation</th>
      <th class="col_tags">Tags</th>
      <th class="col_crit">Crit.</th>
      <th class="col_status">Status</th>
      <th class="col_msg">Message</th>
      <th class="col_times">Start / Elapsed</th>
    </tr>
  </table>
</script>

<script type="text/x-jquery-tmpl" id="testDetailsTableRowTemplate">
  <tr class="test_row">
    {{if $item.logURL}}
    <td class="col_name"><a href="${$item.logURL}#test_${fullName}" id="test_${fullName}" title="${fullName}"><span class="parent_name">${formatParentName}</span>${name}</a></td>
    {{else}}
    <td class="col_name"><span class="parent_name">${formatParentName}</span>${name}</td>
    {{/if}}
    <td class="col_doc">{{html doc()}}</td>
    <td class="col_tags">${tags.join(', ')}</td>
    <td class="col_crit">{{if isCritical}}yes{{else}}no{{/if}}</td>
    <td class="col_status ${status.toLowerCase()}">${status}</td>
    <td class="col_msg">${message()}</td>
    <td class="col_times">${times.startTime}<br />${times.elapsedTime}</td>
  </tr>
</script>

</body>
</html>
