docutils >= 0.9
pyyaml
# On Linux installing lxml with pip requires compilation. You may want to use 
# your platform package manager to install precompiled lxml. For example: 
# sudo apt-get install python-lxml
lxml
