/* Generic and misc styles */
body {
    font-family: sans-serif;
    font-size: 0.8em;
    color: black;
    padding: 6px;
    background: white;
}
br {
    mso-data-placement: same-cell; /* maintain line breaks in Excel */
}
a:link, a:visited {
    text-decoration: none;
    color: blue;
}
a:hover, a:active {
    text-decoration: underline;
    color: purple;
}
.parent_name {
    font-size: 0.7em;
    letter-spacing: -0.07em;
}
/* Headers */
#header {
    width: 58em;
    height: 3em;
    margin: 6px 0;
}
h1 {
    float: left;
    width: 70%;
    margin: 0;
}
#generated {
    float: right;
    width : 29%;
    text-align: right;
    font-size: 0.9em;
    white-space: nowrap;
}
/* Status text colors -- !important allows using them in links */
.error, .fail {
    color: red !important;;
    font-weight: bold;
}
.pass {
    color: #009900 !important;;
}
.warn {
    color: #FFCC00 !important;;
    font-weight: bold;
}
.not_run {
    color: #444444 !important;
}
/* JavaScript disabled box */
#javascript_disabled {
    width: 600px;
    margin: 100px auto 0 auto;
    padding: 20px;
    color: #2A2A2E;
    border: 1px solid #9A9A9E;
    background: #FAFAFF;
}
#javascript_disabled h1 {
    width: 100%;
}
#javascript_disabled ul {
    font-size: 1.2em;
}
#javascript_disabled li {
    margin: 0.5em 0;
}
#javascript_disabled b {
    font-style: italic;
}
/* Top right header */
#top_right_header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 15em;
    font-weight: bold;
    text-align: center;
}
#report_or_log_link a {
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0.3em 0;
    border-bottom-left-radius: 4px;
}
#report_or_log_link a:hover {
    color: yellow;
}
#log_level_selector {
    padding: 0.3em 0;
    font-size: 0.9em;
    border-bottom-left-radius: 4px;
    background: lightgray;
}
/* Statistics table */
table.statistics {
    width: 58em;
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1em;
}
table.statistics tr:hover {
    background: #F4F4FF;
}
table.statistics td, table.statistics th {
    border: 1px solid black;
    padding: 1px 4px;
    margin: 0;
}
table.statistics th {
    background: #DCDCF0;
}
.col_stat {
    width: 3em;
    text-align: center;
}
.col_graph {
   width: 11em;
}
.stat_name {
    float: left;
}
.stat_name a, .stat_name span {
    font-weight: bold;
}
.tag_links {
    font-size: 0.9em;
    float: right;
    margin-top: 0.05em;
}
.tag_links span {
    margin-left: 0.2em;
}
/* Statistics graph */
.pass_bar {
    background: #00F000;
}
.fail_bar {
}
.graph, .empty_graph {
    border: 1px solid black;
    width: 100%;
    height: 0.75em;
    padding: 0;
    background: red;
}
.empty_graph {
    background: #E9E9E9;
}
.graph div {
    position: relative;
    float: left;
    height: 100%;
}
/* HTML in users' suite documentation etc. */
table.robotdoc, pre.robotdoc, hr.robotdoc {
    margin: 0.5em 1em;
}
table.robotdoc {
    border: 1px solid gray;
    background: transparent;
    border-collapse: collapse;
    empty-cells: show;
    font-size: 0.85em;
}
table.robotdoc td {
    border: 1px solid gray;
    padding: 0.1em 0.3em;
    height: 1.2em;
}
pre.robotdoc {
    font-size: 1.1em;
    background: #F4F4FF;
}
img.robotdoc {
    border: 1px solid gray;
}
hr.robotdoc {
    background: gray;
    height: 1px;
    border: 0;
}
