:root {
    --text-color: black;
    --background-color: white;
    --primary-color: #ddd;
    --secondary-color: #ccc;
    --link-color: #15c;
    --link-hover-color: #61c;
    --highlight-color: #eee;
    --target-color: #f9f9f9;
    --pass-color: #97bd61;
    --fail-color: #ce3e01;
    --warn-color: #fed84f;
    --pass-link-color: #098a09;
    --warn-link-color: #927201;
    --fail-link-color: #ce3e01;
    --ascending-icon: url(data:image/gif;base64,R0lGODlhCwAJAKEAAAAAAH9/fwAAAAAAACH5BAEAAAIALAAAAAALAAkAAAIUlBWnFr3cnIr0WQOyBmvzp13CpxQAOw==);
    --descending-icon: url(data:image/gif;base64,R0lGODlhCwAJAKEAAAAAAH9/fwAAAAAAACH5BAEAAAIALAAAAAALAAkAAAIUlAWnBr3cnIr0WROyDmvzp13CpxQAOw==);
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}
[data-theme="dark"] {
    --text-color: #e2e1d7;
    --background-color: #1c2227;
    --primary-color: #26373b;
    --secondary-color: #424f5a;
    --link-color: #8cc4ff;
    --link-hover-color: #bb86fc;
    --highlight-color: #002b36;
    --target-color: #1a252e;
    --pass-link-color: #97bd61;
    --warn-link-color: #fed84f;
    --fail-link-color: #ff9b8f;
    --ascending-icon: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJAgMAAACZCj6+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFAAAAfn5+////f/cqYgAAAAN0Uk5TAP//RFDWIQAAACdJREFUeJxjYHBgYGAMYGBgDWFgEA1lAAOtVQwMXCsYGJgWADkNDAA78QP9oKr7vwAAAABJRU5ErkJggg==);
    --descending-icon: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJAgMAAACZCj6+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFAAAA////fn5+K6jOaAAAAAN0Uk5TAP//RFDWIQAAACdJREFUeJxjYHBgYGAMYGBgDWFgEA1lAAOtVQwMXCsYGJgWADkNDAA78QP9oKr7vwAAAABJRU5ErkJggg==);
}
/* Generic and misc styles */
body {
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    color: black; /* Fallback value */
    color: var(--text-color);
    padding: 6px;
    background: white; /* Fallback value */
    background: var(--background-color);
    margin-left: 15px;
}
body[theme-toggled] {
    transition: background 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
    empty-cells: show;
    font-size: 1em;
}
th, td {
    vertical-align: top;
}
br {
    mso-data-placement: same-cell; /* maintain line breaks in Excel */
}
hr {
    background: #ccc; /* Fallback value */
    background: var(--secondary-color);
    height: 1px;
    border: 0;
}
a, a:link, a:visited {
    text-decoration: none;
    color: #15c; /* Fallback value */
    color: var(--link-color);
}
a > img {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #15c !important; /* Fallback value */
    border-color: var(--link-color) !important;
}
a:hover, a:active {
    text-decoration: underline;
    color: #61c; /* Fallback value */
    color: var(--link-hover-color);
}
select {
    background-color: white; /* Fallback value */
    background-color: var(--background-color);
    color: black; /* Fallback value */
    color: var(--text-color);
    border-width: 2px;
    border-style: solid;
    border-color: #ccc; /* Fallback value */
    border-color: var(--secondary-color);
    border-radius: 4px;
}
.parent-name {
    font-size: 0.7em;
    letter-spacing: -0.07em;
}
.message {
    white-space: pre-wrap;
}
/* Headers */
#header {
    width: 65em;
    height: 3em;
    margin: 20px 0 6px 0;
}
h1 {
    float: left;
    margin: 0 0 0.5em 0;
    width: 75%;
}
h2 {
    clear: left;
}
#generated {
    float: right;
    text-align: right;
    font-size: 0.9em;
    white-space: nowrap;
}
/* Documentation headers */
.doc > h2 {
    font-size: 1.2em;
}
.doc > h3 {
    font-size: 1.1em;
}
.doc > h4 {
    font-size: 1.0em;
}
/* Status text colors -- !important allows using them in links */
.fail {
    color: #ce3e01 !important; /* Fallback value */
    color: var(--fail-link-color) !important;
    font-weight: bold;
}
.pass {
    color: #098a09 !important; /* Fallback value */
    color: var(--pass-link-color) !important;
}
.skip {
    color: #927201 !important; /* Fallback value */
    color: var(--warn-link-color) !important;
    font-weight: bold;
}
.label {
    padding: 2px 5px;
    font-size: 0.75em;
    letter-spacing: 1px;
    white-space: nowrap;
    color: black; /* Fallback value */
    color: var(--text-color);
    background-color: #ddd; /* Fallback value */
    background-color: var(--primary-color);
    border-radius: 3px;
}
.label.debug, .label.trace, .label.error, .label.keyword {
    letter-spacing: 0;
}
.label.pass, .label.fail, .label.error, .label.skip, .label.warn {
    font-weight: bold;
}
.label.pass {
    background-color: #97bd61; /* Fallback value */
    background-color: var(--pass-color);
    color: #000 !important;
}
.label.fail, .label.error {
    background-color: #ce3e01; /* Fallback value */
    background-color: var(--fail-color);
    color: #fff !important;
}
.label.skip, .label.warn {
    background-color: #fed84f; /* Fallback value */
    background-color: var(--warn-color);
    color: #000 !important;
}
/* Top right header */
#top-right-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 12em;
    text-align: center;
}
#report-or-log-link a {
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.3em 0;
    border-bottom-left-radius: 4px;
}
#report-or-log-link a:hover {
    color: #ddd;
}
#log-level-selector {
    padding: 0.3em 0;
    font-size: 0.9em;
    border-bottom-left-radius: 4px;
    background: #ddd; /* Fallback value */
    background: var(--primary-color);
}
/* Statistics table */
.statistics {
    width: 65em;
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1em;
}
.statistics tr:hover {
    background: #eee; /* Fallback value */
    background: var(--highlight-color);
    cursor: pointer;
}
.statistics th, .statistics td {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc; /* Fallback value */
    border-color: var(--secondary-color);
    padding: 0.1em 0.3em;
}
.statistics th {
    background-color: #ddd; /* Fallback value */
    background-color: var(--primary-color);
    padding: 0.2em 0.3em;
}
.statistics td {
    vertical-align: middle;
}
.stats-col-stat {
    width: 4.5em;
    text-align: center;
}
.stats-col-elapsed {
    width: 5.5em;
    text-align: center;
}
.stats-col-graph {
    width: 9em;
}
th.stats-col-graph:hover {
    cursor: default;
}
.stat-name {
    float: left;
}
.stat-name a, .stat-name span {
    font-weight: bold;
}
.tag-links {
    font-size: 0.9em;
    float: right;
    margin-top: 0.05em;
}
.tag-links span {
    margin-left: 0.2em;
}
/* Statistics graph */
.graph, .empty-graph {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc; /* Fallback value */
    border-color: var(--secondary-color);
    width: auto;
    height: 7px;
    padding: 0;
}
.empty-graph {
    background: #eee; /* Fallback value */
    background: var(--highlight-color);
}
.pass-bar, .fail-bar, .skip-bar {
    float: left;
    height: 100%;
}
.fail-bar {
    background: #ce3e01; /* Fallback value */
    background: var(--fail-color);
}
.pass-bar {
    background: #97bd61; /* Fallback value */
    background: var(--pass-color);
}
.skip-bar {
    background: #fed84f; /* Fallback value */
    background: var(--warn-color);
}
/* Tablesorter - adapted from provided Blue Skin */
.tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhCwAJAIAAAH9/fwAAACH5BAEAAAEALAAAAAALAAkAAAIRjAOnBr3cnIr0WUjTrC9e9BQAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
.tablesorter-header:hover {
    background-color: #ccc; /* Fallback value */
    background-color: var(--secondary-color);
}
.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhCwAJAKEAAAAAAH9/fwAAAAAAACH5BAEAAAIALAAAAAALAAkAAAIUlBWnFr3cnIr0WQOyBmvzp13CpxQAOw==); /* Fallback value */
    background-image: var(--ascending-icon);
    background-color: #ccc !important; /* Fallback value */
    background-color: var(--secondary-color) !important;
}
.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhCwAJAKEAAAAAAH9/fwAAAAAAACH5BAEAAAIALAAAAAALAAkAAAIUlAWnBr3cnIr0WROyDmvzp13CpxQAOw==); /* Fallback value */
    background-image: var(--descending-icon);
    background-color: #ccc !important; /* Fallback value */
    background-color: var(--secondary-color) !important;
}
.sorter-false {
    background-image: none;
    cursor: default;
}
.sorter-false:hover {
    background-color: #ddd; /* Fallback value */
    background-color: var(--primary-color);
}
#theme-toggle {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    border: none;
    padding: 4px;
    z-index: 1000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: var(--highlight-color);
}
[data-theme="dark"] .dark-mode-icon,
[data-theme="light"] .light-mode-icon {
    display: none;
}
[data-theme="dark"] .light-mode-icon,
[data-theme="light"] .dark-mode-icon {
    display: block;
}

@keyframes highlight {
    0% {
        background: var(--primary-color)
    }
    100% {
        background: var(--target-color);
    }
}

:target {
    background: var(--target-color);
    transition: background 0.3s;
    animation: highlight 4s;
}
