/* Containers */
.suite, .test, #errors {
    border: 1px solid gray;
    padding: 0.3em 0.2em;
    margin: 0.2em 0;
}
.test {
    border-style: dashed;
}
#errors, .messages, .metadata {
    width: 100%;
    border-spacing: 0;
}
#errors td, .messages td, .metadata th, .metadata td {
    padding: 0.2em;
}
.children {
    display: none;
    margin-left: 1.4em;
}
.suite, .test, .keyword {
    margin-left: -0.2em;
}
#s1, .suite > .children > .keyword {
    margin-left: 0;
}
/* Suite, test and kw headers */
.element-header {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 3px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(data:image/gif;base64,R0lGODlhDQALAIAAAAAAAAAAACH5BAEKAAEALAAAAAANAAsAAAIZTICpYGz/nIOxUShvPU1ZroHTlYWlJi1LAQA7);
    position: relative;
}
.element-header:hover {
    cursor: pointer;
    background-color: #ECECF7;
    border-color: #BCBCD7;
}
.closed {
    background-image: url(data:image/gif;base64,R0lGODlhDQALAIAAAAAAAAAAACH5BAEKAAEALAAAAAANAAsAAAIZTICpYGz/nIOxwXls3VJpDGpiRlKfyS1LAQA7);
}
.element-header-left {
    margin-left: 1.3em;
    padding-right: 80px;
}
.element-header-right {
    position: absolute;
    right: 0;
    top: 0;
}
.name {
    font-weight: bold;
}
/* Following icons from Open Iconic <https://useiconic.com/open/>. Licensed under the MIT License.
   PNG versions are for IE8 and SVG for everything else. */
.link {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAABLAAAASwAJArFzAAAADBSURBVBjTVc+9SoJxAEbxX/wNhwYlokQIQSgncWloDbJdEpoanLqK3KIlqkWkqaELqKWhpnAQHLwKIcoIzHj7UsIhpNdnPGc5D/EtOvPqzaXVxIzYUtMWqZjllm1bEDSNpyZp04YfNyJ8CX847dTQ0Mg5qvpuIeVC5ERJWdGuJw8KpDVFDq0oyah51rIOR97VBfsGej7dWYM5j7r2fMg6kNF17QUS5n0bC5Y09P/Lg5yKvB3HBjrxU1lXRn7dK8TxBLAdMdi116h/AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA5LTI1VDE2OjUxOjM1KzAzOjAwO4NivgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wOS0yNVQxNjo1MTozNSswMzowMEre2gIAAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik01Ljg4LjAzYy0uMTguMDEtLjM2LjAzLS41My4wOS0uMjcuMS0uNTMuMjUtLjc1LjQ3YS41LjUgMCAxIDAgLjY5LjY5Yy4xMS0uMTEuMjQtLjE3LjM4LS4yMi4zNS0uMTIuNzgtLjA3IDEuMDYuMjIuMzkuMzkuMzkgMS4wNCAwIDEuNDRsLTEuNSAxLjVjLS40NC40NC0uOC40OC0xLjA2LjQ3LS4yNi0uMDEtLjQxLS4xMy0uNDEtLjEzYS41LjUgMCAxIDAtLjUuODhzLjM0LjIyLjg0LjI1Yy41LjAzIDEuMi0uMTYgMS44MS0uNzhsMS41LTEuNWMuNzgtLjc4Ljc4LTIuMDQgMC0yLjgxLS4yOC0uMjgtLjYxLS40NS0uOTctLjUzLS4xOC0uMDQtLjM4LS4wNC0uNTYtLjAzem0tMiAyLjMxYy0uNS0uMDItMS4xOS4xNS0xLjc4Ljc1bC0xLjUgMS41Yy0uNzguNzgtLjc4IDIuMDQgMCAyLjgxLjU2LjU2IDEuMzYuNzIgMi4wNi40Ny4yNy0uMS41My0uMjUuNzUtLjQ3YS41LjUgMCAxIDAtLjY5LS42OWMtLjExLjExLS4yNC4xNy0uMzguMjItLjM1LjEyLS43OC4wNy0xLjA2LS4yMi0uMzktLjM5LS4zOS0xLjA0IDAtMS40NGwxLjUtMS41Yy40LS40Ljc1LS40NSAxLjAzLS40NC4yOC4wMS40Ny4wOS40Ny4wOWEuNS41IDAgMSAwIC40NC0uODhzLS4zNC0uMi0uODQtLjIyeiIKICAvPgo8L3N2Zz4=), none;
}
.expand {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAABLAAAASwAJArFzAAAABvSURBVBjThc8xCsJQEITh78UoYjqx9H45QvAMdvYexyMELHwnsLBPMM/CQALx4VTL/sPsbJD8VOkC0sxQQBjHg1JCMHh6T57aXRQ9nKznkZWzzuBq/12sRtC72Wg1XssiWzv/FRxzIOZA5vMid+MDhJMVPbBAJAoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDktMjVUMTY6NTE6MjYrMDM6MDDGwXi9AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA5LTI1VDE2OjUxOjI2KzAzOjAwt5zAAQAAAABJRU5ErkJggg==);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik0wIDB2MWg4di0xaC04em0yIDJsMiAyIDItMmgtNHptLTIgNHYyaDh2LTJoLTh6IiAvPgo8L3N2Zz4=), none;
}
.collapse {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAABLAAAASwAJArFzAAAABeSURBVBjTY2T4z4AVsDBMYqABUGXQxSaswXCU4QqDObqwDsNxhv8M/xmuMVjDXMXAwMDAzKDHcI7hNAMDAzODDsMZhp8MDIwMMlA9/6A0E4RiZLiL3SWMuHzOhMvtANlbDqKyc6S4AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA5LTI1VDE2OjUxOjE1KzAzOjAweaZlwwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wOS0yNVQxNjo1MToxNSswMzowMAj73X8AAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik0wIDB2MWg4di0xaC04em00IDNsLTIgMmg0bC0yLTJ6bS00IDN2Mmg4di0yaC04eiIgLz4KPC9zdmc+), none;
}
.expand, .collapse, .link {
    float: left;
    display: block;
    visibility: hidden;
    height: 12px;
    width: 12px;
    margin: 3px 4px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
    padding: 1px;
    border: 1px solid black;
    border-radius: 2px;
}
.element-header:hover a {
    visibility: visible;
}
.expand:hover, .collapse:hover, .link:hover {
    background-color: yellow;
}
/* Messages and errors */
.messages {
    font-family: monospace;
    font-size: 1.1em;
}
.message-row {
    height: 17px;
}
.time {
    width: 8em;
}
.error-time {
    width: 11em;
    white-space: nowrap;
}
.level {
    width: 4.5em;
    text-align: center;
}
.select-text {
    width: 2em;
    background-position: top right;
    background-repeat: no-repeat;
}
.message-row:hover .select-text {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAV1BMVEXq7/atw9u6zOHS3uvA0eP3+fvZ4+7g6PHO2+n5+vz1+PvAwMC+z+KQkJDx9fm1yd/s8ffa5O/I1+fU4Oz////t8vf6+/3c5fC4y+Dj6vPv8/ju8/fd5vA594LsAAAAXklEQVQYlW3PVxKAIAwE0NhLRGxY0Puf05hRCIzvjx2yAVAYUIBLAAFNKhgKIBHoiP3klU10Y3s6zs47uHR3Zt4iRmoORGlWFX9rbS5YCgbNLvf0d2R0wQqs/YL4+ze2IArI2yb6sQAAAABJRU5ErkJggg==);
}
.message-row:hover .select-text:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAV1BMVEXv833O26y1yc+tw9v5+m/c5Zjq74T1+HTx9Xrt8oDU4KPAwE3//2b3+XLa5JvS3qfs8YHg6JOQkDrd5pbZ45zj6o6+z8O6zMnu8376+27I17TA0cC4y8w8SaSaAAAAXklEQVQYlW3PWQ6AIAwE0LpVsSqK+3L/c4qNQiG+PyZ0CmAoYICaAAGpVVA2wExAG1SHN+XRjeLp2BZv5tLLqXmLGEk4EKV6aP/WwinYI/UpG93T35HOBTuy8gvi798gGQzuN7QrSQAAAABJRU5ErkJggg==);
    cursor: pointer;
}
/* Message tables - these MUST NOT be combined together because otherwise
   dynamically altering them based on visible log level is not possible. */
.trace-message {
    display: table;
}
.debug-message {
    display: table;
}
/* Metadata */
.metadata th {
    width: 12.5em;
    text-align: left;
    white-space: nowrap;
}
.keyword-metadata {
    font-size: 0.9em;
}
/* Custom styles for statistics */
#total-stats tr:hover, #tag-stats tr:hover {
    cursor: default;
}
