/* Generic table styles */
table {
    margin: 0 1px;
}
tr {
    background: white;
}
th {
    background: #DCDCF0;
    color: black;
}
/* Summary and total/tag/suite details */
.details {
    border: 1px solid black;
    border-collapse: collapse;
    clear: both;
    width: 65em;
    margin-bottom: 1em;
}
.details th {
    background: white;
    width: 10em;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    padding: 0.2em 0.4em;
}
.details td {
    vertical-align: top;
    padding: 0.2em 0.4em;
}
#selector th, #selector td {
    padding-top: 0.5em;
    padding-bottom: 1em;
    white-space: normal;
}
#print-selector {
    display: none;
}
/* Tabs - adapted from http://www.htmldog.com/articles/tabs */
#detail-tabs {
    list-style: none;
    padding: 0;
    margin: 0 1em;
}
.detail-tab {
    float: left;
    background: #DCDCF0;
    border: 1px solid black;
    border-bottom-width: 0;
    margin: 0 0.5em 0 0;
    padding-top: 0.1em;
    border-radius: 3px 3px 0 0;
}
.detail-tab:hover {
    background: yellow;
}
.detail-tab a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1em;
}
.detail-tab-selected {
    position: relative;
    top: 1px;
    background: white;
}
.detail-tab-selected:hover {
    background: white;
}
/* Test details table */
#test-details {
    width: 100%;
    border-spacing: 1px;
    background-color: black;
}
#test-details tr:hover {
    background: #F4F4FF;
}
#test-details th, #test-details td {
    padding: 0.2em;
}
.details-col-header {
    padding-right: 1em;
}
.details-col-toggle {
    float: left;
    color: #808080;
    cursor: pointer;
}
.details-col-toggle:hover {
    color: black;
}
.details-col-name {
    min-width: 20em;
    font-weight: bold;
}
.details-col-doc {
    min-width: 10em;
}
.details-col-tags {
    min-width: 10em;
}
.details-col-crit {
    width: 3.5em;
    text-align: center;
}
.details-col-status {
    width: 4.5em;
    text-align: center;
}
.details-col-msg {
    min-width: 20em;
}
.details-col-elapsed {
    width: 7em;
    text-align: center;
}
.details-col-times {
    width: 11em;
    white-space: nowrap;
    text-align: center;
}
.hidden .details-col-header, td.hidden > div {
    display: none;
}
.hidden {
    width: 13px;
    min-width: 0;
    background-image: none;
}
th.hidden:hover {
    background-color: #DCDCF0;
}
