.doc > * {
    margin: 1em 1em 0 1em;
    padding: 0;
}
.doc > p, .doc > h1, .doc > h2, .doc > h3, .doc > h4 {
    margin: 1em 0 0 0;
}
.doc > *:first-child {
    margin-top: 0;
}
.doc table {
    border: 1px solid gray;
    background: transparent;
    border-collapse: collapse;
    empty-cells: show;
    font-size: 0.9em;
}
.doc table td {
    border: 1px solid gray;
    padding: 0.1em 0.3em;
    height: 1.2em;
}
.doc pre {
    font-size: 1.1em;
    background: #F4F4FF;
}
.doc li {
    list-style-position: inside;
    list-style-type: square;
}
.doc img {
    border: 1px solid gray;
}
.doc hr {
    background: gray;
    height: 1px;
    border: 0;
}
