#!/bin/bash

# Install script for Robot Framework source distributions.
#
# Set directories below to match you system configuration.
# before running 'uninstall' or 'reinstall'. Installation
# should display where Robot Framework is installed.

SCRIPT_DIR=/usr/bin
INSTALL_DIR=/usr/lib/python2.5/site-packages


case $1 in
    install)
	python setup.py install
	;;
    uninstall)
	rm -fv $SCRIPT_DIR/[pj]ybot
        rm -fv $SCRIPT_DIR/rebot
        rm -rfv $INSTALL_DIR/robot
        rm -rfv build
	;;
    reinstall)
	$0 uninstall && $0 install
	;;

    in)
	$0 install
	;;
    un)
	$0 uninstall
	;;
    re)
	$0 reinstall
	;;

    *)
	echo "usage:  `basename $0` { in(stall) | un(install) | re(install) }"
	;;
esac
