#!/usr/bin/bash

rm -rf build

rm -fr \
    /c/Python25/Scripts/?ybot.bat \
    /c/Python25/Scripts/?ydoc.bat \
    /c/Python25/Scripts/rebot.bat \
    /c/Python25/Scripts/robot_postinstall.py* \
    /c/Python25/Lib/site-packages/robot

