body {
    background: white;
    color: black;
    font-size: small;
    font-family: sans-serif;
    padding: 0 0.5em;
}
.metadata th {
    text-align: left;
    padding-right: 1em;
}
a.name, span.name {
    font-style: italic;
}
a, a:link, a:visited {
    color: #c30;
}
a img {
    border: 1px solid #c30 !important;
}
a:hover, a:active {
    text-decoration: underline;
    color: black;
}
div.shortcuts {
    margin: 1em 0;
    font-size: 0.9em;
}
div.shortcuts a {
    text-decoration: none;
    white-space: nowrap;
    color: black;
}
div.shortcuts a:hover {
    text-decoration: underline;
}
table.keywords {
    border: 2px solid black;
    border-collapse: collapse;
    empty-cells: show;
    margin: 0.3em 0;
    width: 100%;
}
table.keywords th, table.keywords td {
    border: 2px solid black;
    padding: 0.2em;
    vertical-align: top;
}
table.keywords th {
    background: #bbb;
    color: black;
}
table.keywords td.kw {
    width: 150px;
    font-weight: bold;
}
table.keywords td.arg {
    width: 300px;
    font-style: italic;
}
.footer {
    font-size: 0.9em;
}
/* Docs originating from HTML and reST are wrapped to divs. */
.doc div > *:first-child {
    margin-top: 0;
}
.doc div > *:last-child {    /* Does not work with IE8. */
    margin-bottom: 0;
}
