name: Unit tests

on:
  push:
    branches:
      - main
      - master
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'utest/**'
      - '!**/*.rst'


jobs:
  test_using_builtin_python:

    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest' ]
        python-version: [ '3.6', '3.7', '3.8', '3.9', 'pypy3' ]
        exclude:
          - os: windows-latest
            python-version: 'pypy3'

    runs-on: ${{ matrix.os }}

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.3.2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Run unit tests with coverage
        run: |
          python -m pip install coverage
          python -m pip install -r utest/requirements.txt
          python -m coverage run --branch utest/run.py -v

      - name: Prepare HTML/XML coverage report
        run: |
          python -m coverage xml -i
        if: always()

      - uses: codecov/codecov-action@e3c560433a6cc60aec8812599b7844a7b4fa0d71
        with:
          name: ${{ matrix.python-version }}-${{ matrix.os }}
        if: always()
